
<form action="">
  <h3>Add New Product Detail</h3>
  <table>
	<tr>
		<td> Name</td>
		<td><input type="" placeholder="Product Name"> </td>
	</tr>
	<tr>
		<td>Category</td>
		<td><input type="" placeholder="Product Category"> </td>
	</tr>
	<tr>
		<td> Description</td>
		<td> <textarea name="" id="" cols="18" rows="5" placeholder="Product Description"></textarea> </td>
	</tr>
  <tr>
		<td>Price</td>
		<td><input type="" placeholder="Product Price"> </td>
	</tr>
  <tr>
    <td></td>
    <td><button>Add Product</button></td>
  </tr>
</table>
</form>